.btn-success {
    background-color: #009933!important;
    color:azure!important;
    min-width: 80px;
    display: inline-block;
}

.margin-overlap {
    margin-bottom: -30px;
}

.code-header {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 10px;
}

code {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-width: thin;
    border-color: lightgray;
    font-family: monospace;
    background-color: rgb(248, 248, 248);
    display: inline-block;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    max-width: 100%;
}

textarea {
    border-radius: 5px;
    border-width: thin;
    border-color: lightgray;
    font-family: monospace;
}

.pull-down {
    vertical-align: bottom !important;
    margin-bottom:0px!important;
    margin-top:42px!important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}