//
//  Copyright (c) Microsoft Corporation. All rights reserved.
//

#pragma once

// Your application's Client Id from: https://apps.dev.microsoft.com/
static NSString* const CLIENT_ID = @"<CLIENT-ID>";

static NSString* const APP_SERVICE_NAME = @"<APP-SERVICE-NAME>";
static NSString* const PACKAGE_ID = @"<WINDOWS-PACKAGE-ID>";
