//
// Copyright (c) Microsoft Corporation. All rights reserved.
//

package com.microsoft.rome.onesdksample_android;

class Secrets {
    // Your application's Client Id from: https://apps.dev.microsoft.com/
    static final String MSA_CLIENT_ID = "<<MSA client ID goes here>>";

    // Your client's Google Cloud Messaging Sender Id from: https://console.developers.google.com/cloud-resource-manager
    static final String GCM_SENDER_ID = "<<Google Cloud Messaging sender ID goes here>>";
}
